<footer class="footer">
  <div class="footer-container">
    <div class="footer-div-icon">
      <svg class="footer-icon">
      <use href="/img/sprite.svg#icon-mealco-green"></use>
    </svg>
    </div>
    <div class="footer-info">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./form.html">Carrers</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./brands.html">Brands</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="./press.html">Press</a>
        </li>
      </ul>
      <p>2022 © Mealco</p>
    </div>
  </div>
</footer>
