<header class="header-container">
  <div class="header">
    <div class="container">
      <div class="header-container-style">
        <a aria-label="logo" class="header-logo" href="./index.html">
          <svg>
            <use href="/img/sprite.svg#icon-mealco"></use>
          </svg>
        </a>
        <div class="btns-header-brands">
          <button aria-label="back" class="header-btn-menu">
            <a aria-label="back" href="./brands.html">
              <svg class="burger-menu">
                <use href="/img/sprite.svg#icon-left"></use>
              </svg>
            </a>
          </button>
          <button aria-label="burger-menu" class="header-btn-menu" data-action="toggle-menu">
            <svg class="burger-menu">
              <use
                href="/img/sprite.svg#icon-burger-menu"
                data-action="use-burger"
              ></use>
            </svg>
          </button>
        </div>
        <nav class="header-nav-desctop">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a aria-label="brands page" class="header-nav-link" href="./brands.html">Brands</a>
            </li>
            <li class="header-nav-item">
              <a aria-label="press page" class="header-nav-link" href="./press.html">Press</a>
            </li>
            <li class="header-nav-item header-button">
              <a aria-label="form page" class="header-nav-link" href="./form.html"
                >Join our waitlist!</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="header-mobile-menu"
        data-action="mobile-menu"
        data-active="false"
      >
        <nav class="header-nav-mobile">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a aria-label="brands page" class="header-nav-link" href="./brands.html">Brands</a>
            </li>
            <li class="header-nav-item">
              <a aria-label="press page" class="header-nav-link" href="./press.html">Press</a>
            </li>
            <li class="header-nav-item header-button">
              <a aria-label="form page" class="header-nav-link" href="./form.html"
                >Join our waitlist!</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
