<section class="color-orange border">
  <div class="container partners container-home">
    <h2>Mealco’s partners get</h2>
      <ul class="part-list">
        <li class="part-li">
          <svg>
            <use href="/img/sprite.svg#icon-star-list"></use>
          </svg>
          <p>Exclusivity over their territory</p>
        </li>
        <li class="part-li">
          <svg>
            <use href="/img/sprite.svg#icon-star-list"></use>
          </svg>
          <p>Free marketing</p>
        </li>
        <li class="part-li">
          <svg>
            <use href="/img/sprite.svg#icon-star-list"></use>
          </svg>
          <p>Free technology</p>
        </li>
        <li class="part-li">
          <svg>
            <use href="/img/sprite.svg#icon-star-list"></use>
          </svg>
          <p>Training</p>
        </li>
        <li class="part-li">
          <svg>
            <use href="/img/sprite.svg#icon-star-list"></use>
          </svg>
          <p>24/7 Support</p>
        </li>
      </ul>
    <div class="part-ps">
      <h3>Concerned about food delivery costs?</h3>
      <p>We’ve got you covered! Mealco pays all third-party delivery fees</p>
    </div>
  </div>
</section>
