<section class="border">
  <div class="container conteiner-swiper">
    <h2></h2>
    <div class="conteiner-swiper">
      <div class="swiper swiper-can-see">
        <ul class="brands-cards-list swiper-wrapper"></ul>
      </div>
      <div class="swiper-buttons-center">
        <div class="swiper-buttons-container">
          <button class="swiper-button swiper-button-prev">
            <svg>
              <use href="img/sprite.svg#icon-left.svg"></use>
            </svg>
          </button>
          <button class="swiper-button swiper-button-next">
            <svg>
              <use href="img/sprite.svg#icon-right.svg"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
