<section class="border color-brands">
  <div class="container container-home conteiner-swiper">
    <h2>
      Mealco’s collection of high-demand brands can be operated with minimal equipment and training
    </h2>
    <div class="div-swiper">
      <div class="swiper swiper-can-see">
        <ul class="brands-cards-list brands-cards-home swiper-wrapper"></ul>
      </div>
      <div class="swiper-buttons-center">
        <div class="swiper-buttons-container">
          <button class="swiper-button swiper-button-prev">
            <svg class="swiper-svg">
              <use href="img/sprite.svg#icon-left"></use>
            </svg>
          </button>
          <button class="swiper-button swiper-button-next">
            <svg class="swiper-svg">
              <use href="img/sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
