<section class="border">
  <div class="container container-home vince-container">
    <div class="vince-img">
      <img src="/img/brands/moreish.png" alt="section-vince" />
    </div>
    <div class="vince-info">
      <div class="vince-svg-title">
        <div class="vince-title">
        <h2>Vince</h2>
        <p class="vince-adress">Owner, Koo Restaurant</p>
      </div>
        <svg>
        <use href="/img/brands-logos/moreish-logo.svg"></use>
      </svg>
      </div>
      <p class="vince-text">
        “Moreish is what sparked our interest in Mealco - the minimal impact on our labor and resources creates a unique and simple solution for generating value in a market with limited staffing”
      </p>
      <div class="vince-prosent">
        <p>In just 3 months, Mealco operates</p>
        <p class="vince-number">65%</p>
        <p>of Koo’s delivery business</p>
      </div>
    </div>
  </div>
</section>
