:root {
  --font-family: 'Raleway', sans-serif;
  --second-family: 'Nunito Sans', sans-serif;

  --color-moreish: #e4f1f1;
  --color-cayenne: #e6f9f2;
  --color-mochidoki: #dfdad0;
  --color-nuchas: #f4ecda;
  --color-pressed: #fbfaf7;
  --color-ample: #d7f6ff;
  --color-proper: #fbe0c9;
  --color-urban: #faf2e3;
  --color-hero: #e5fcf5;
  --color-press: #bc8cff;
  --color-brands: #06d2cc;
  --color-orange: #fbb251;
  --color-green: #49dda8;

  --color-white: #ffffff;
  --color-black: #000;
  --color-title: #0a0909;

  color: var(--color-black);
  background-color: var(--color-white);
  font-family: var(--second-family);
}

body {
  display: flex;
  flex-direction: column;
  /* min-width: 100vw;
  min-height: 100vh;
  margin: 0; */
}
body[data-scroll-locked='true'] {
  overflow: hidden;
}

/* main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */
.border {
  border-bottom: 1px solid var(--color-title);
}
.border-top {
  border-top: 1px solid var(--color-title);
}
.color-press {
  background-color: var(--color-press);
}
.color-orange {
  background-color: var(--color-orange);
}
.color-brands {
  background-color: var(--color-brands);
}
.color-green {
  background-color: var(--color-green);
}
.color-moreish {
  background-color: var(--color-moreish);
}
.color-cayenne {
  background-color: var(--color-cayenne);
}
.color-mochidoki {
  background-color: var(--color-mochidoki);
}
.color-nuchas {
  background-color: var(--color-nuchas);
}
.color-pressed {
  background-color: var(--color-pressed);
}
.color-ample {
  background-color: var(--color-ample);
}
.color-proper {
  background-color: var(--color-proper);
}
.color-urban {
  background-color: var(--color-urban);
}
