:root {
  --font-family: 'Raleway', sans-serif;
  --second-family: 'Nunito Sans', sans-serif;

  --color-moreish: #e4f1f1;
  --color-cayenne: #e6f9f2;
  --color-mochidoki: #dfdad0;
  --color-nuchas: #f4ecda;
  --color-pressed: #fbfaf7;
  --color-ample: #d7f6ff;
  --color-proper: #fbe0c9;
  --color-urban: #faf2e3;
  --color-hero: #c4c4c4;
  --color-press: #bc8cff;
  --color-brands: #06d2cc;
  --color-orange: #fbb251;
  --color-green: #49dda8;

  --color-white: #ffffff;
  --color-black: #000;
  --color-title: #0A0909;

  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  display: flex;
  flex-direction: column;
  /* min-width: 100vw;
  min-height: 100vh;
  margin: 0; */
}

/* main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */
