.brand-hero {
  padding-top: 164px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  position: relative;
}
.back-bnt {
  display: none;
}
.brand-hero-info {
  box-sizing: border-box;
  width: 375px;
  margin: 0 auto;
  padding: 0 23px;
}

/* ----------------- hero svg mob / */

.moreish-svg {
  width: 100px;
  height: 70px;
}
.cayenne-svg {
  width: 130px;
  height: 43px;
}
.mochidoki-svg {
  width: 201px;
  height: 41px;
}
.nuchas-svg {
  width: 77px;
  height: 77px;
}
.pressed-svg {
  width: 147px;
  height: 40px;
}
.ample-svg {
  width: 134px;
  height: 62px;
}
.num-svg {
  width: 108px;
  height: 80px;
}
.urban-svg {
  width: 235px;
  height: 35px;
}

/* ------------------ */

.brand-hero-info div {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.brand-hero-info p {
  font-weight: 200;
  font-size: 22px;
}
.brand-hero img {
  width: 375px;
  margin: 0 auto;
  border: 1px solid var(--color-black);
}

/* --------section chef */

.brand-chef {
  padding: 60px 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'title'
    'img'
    'text';
  gap: 22px;
}
.brand-chef h2 {
  grid-area: title;

  font-family: var(--font-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 1.1;
}
.brand-chef img {
  grid-area: img;

  border: 1px solid var(--color-black);
}
.brand-chef p {
  grid-area: text;

  font-weight: 300;
  font-size: 20px;
}

/* ------------ section menu */
.container-menu {
  padding: 40px 0 70px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.filter-menu {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.filter-menu::-webkit-scrollbar {
  display: none;
}

.filter-btn {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.filter-btn:hover,
.filter-btn.active {
  opacity: 1;
  position: relative;
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: var(--color-black);
  border-radius: 50%;
}

.list-menu {
  display: grid;
  gap: 60px;
}
.menu-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-category h2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
}
.menu-items {
  display: grid;
  gap: 30px;
}
.menu-item {
  display: flex;
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-black);
  gap: 17px;

  height: 126px;
  align-items: center;

  box-shadow: 7px 7px 0px var(--color-black);
  margin-right: 7px;
}
.menu-item img {
  height: 126px;
}
.menu-item div {
  display: grid;
  gap: 5px;
}
.menu-info {
  padding-left: 28px;
}
.menu-name {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
}
.menu-price {
  font-size: 14px;
}

@media only screen and (min-width: 1440px) {
  .brand-hero {
    flex-direction: row;
    justify-content: space-between;

    width: 1440px;
    padding: 132px 80px 80px 80px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .brand-hero-info {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    gap: 155px;
    width: 626px;

    line-height: 1.2;

    margin: 0;
    padding: 0;
  }
  .brand-hero-info div {
    gap: 32px;
  }
  .back-bnt {
    display: block;
    width: 79px;
    height: 79px;
  }
  .back-bnt svg {
    width: 81px;
    height: 81px;
  }
  /* ----------------- hero svg/ */

  .moreish-svg {
    width: 250px;
    height: 130px;
  }
  .cayenne-svg {
    width: 333px;
    height: 109px;
  }
  .mochidoki-svg {
    width: 435px;
    height: 86px;
  }
  .nuchas-svg {
    width: 120px;
    height: 120px;
  }
  .pressed-svg {
    width: 322px;
    height: 87px;
  }
  .ample-svg {
    width: 236px;
    height: 109px;
  }
  .num-svg {
    width: 206px;
    height: 153px;
  }
  .num-svg {
    width: 380px;
    height: 57px;
  }

  /* --------------- */

  .brand-hero-info p {
    font-size: 28px;
  }
  .brand-hero img {
    border: 1px solid var(--color-black);
    border-radius: 10px;
    width: 594px !important;
    height: auto;
    margin: 0;
  }

  /* --------section chef */

  .brand-chef {
    padding: 80px 90px;

    grid-template-areas: 'img text';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
  }
  .brand-chef h2,
  .brand-chef p {
    grid-area: text;
  }
  .brand-chef h2 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 120px;
  }
  .brand-chef h2.cayenne-chef-title {
    margin-bottom: 290px;
  }
  .brand-chef img {
    grid-area: img;

    width: 500px;
    height: 500px;
    border-radius: 10px;
  }
  .brand-chef p {
    padding-top: 286px;
    font-size: 26px;
  }
  .brand-chef p.cayenne-chef-text {
    padding-top: 216px;
  }

  /* ------------ section menu */
  .container-menu {
    padding: 60px 0 110px 0;
  }
  /* .filter-menu {
    display: none;
  } */
  .filter-menu {
    gap: 60px;
  }
  .filter-btn {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .filter-btn.active::after {
    bottom: -15px;
    width: 10px;
    height: 10px;
  }
  .list-menu {
    gap: 100px;
  }
  .menu-category {
    gap: 40px;
  }
  .menu-category h2 {
    font-size: 32px;
  }
  .menu-items {
    gap: 42px;
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-item {
    gap: 46px;

    height: 265px;
    padding-right: 15px;

    box-shadow: 12px 12px 0px var(--color-black);
    margin-right: 12px;
  }
  .menu-item img {
    height: 265px;
  }
  .menu-item div {
    gap: 14px;
  }
  .menu-info {
    padding-left: 46px;
  }
  .menu-name {
    font-weight: 900;
    font-size: 24px;
  }
  .menu-price {
    font-size: 22px;
  }
}
