.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-div-icon {
  width: 100%;
  border-bottom: 1px solid var(--color-black);
}
.footer-icon {
  width: 100px;
  height: 23px;
  padding: 17px 0;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;
  /* width: 375px; */
  margin: 17px 0;
  /* padding: 0 23px; */
}
.footer-nav-list {
  display: flex;
  gap: 50px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
}
.footer-nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  transform: translateY(-6px);
}
.footer-info p {
  font-weight: 300;
  font-size: 13px;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    width: 1440px;
    height: 108px;
    padding: 0 80px;
    margin: 0 auto;

    box-sizing: border-box;
  }
  .footer-div-icon {
    text-align: left;
    width: 240px;
    height: 100%;
    border-bottom: 0px;
    border-right: 1px solid var(--color-black);
  }
  .footer-icon {
    width: 160px;
    height: 36px;
    padding-top: 33px;
  }
  .footer-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 640px;

    margin: 17px auto;
    padding: 0 0 0 80px;

    box-sizing: border-box;
    margin: 0;
  }
  .footer-info p {
    font-weight: 400;
  }
}
