.partners {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}
.partners h2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 34px;
  line-height: 1.06;
  color: var(--color-title);
}
.part-list {
  background-color: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-black);
  padding: 23px;

  box-shadow: 6px 6px 0px var(--color-black);
  margin-right: 6px;
}
.part-li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
}
.part-li:not(:last-child) {
  border-bottom: 1px solid var(--color-black);
}
.part-li svg {
  width: 16px;
  height: 16px;
}
.part-li p {
  font-weight: 400;
  font-size: 16px;
}
.part-ps {
  display: grid;
  gap: 3px;
  padding: 0 30px;
}
.part-ps h3 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  color: var(--color-title);
}
.part-ps p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.444;
}

@media only screen and (min-width: 1440px) {
  .partners {
    gap: 42px;
    align-items: center;
  }
  .partners h2 {
    font-size: 63px;
  }
  .part-list {
    box-sizing: border-box;
    padding: 54px;
    width: 720px;

    box-shadow: 14px 14px 0px var(--color-black);
    margin-right: 14px;
  }
  .part-li {
    padding: 20px 0;
    gap: 20px;
  }
  .part-li svg {
    width: 37px;
    height: 37px;
  }
  .part-li p {
    font-size: 26px;
  }
  .part-ps {
    gap: 10px;
  }
  .part-ps h3 {
    font-size: 24px;
  }
  .part-ps p {
    font-size: 22px;
    padding: 0 400px;
  }
}
